body {
    font-family: SF Pro SC, SF Pro Display, SF Pro Icons, AOS Icons, PingFang SC, Helvetica Neue, Helvetica, Arial, sans-serif;
  }

  @font-face {
    font-family: 'YuWeisform';
    /* 这个名字可以自己定义 */
    src: url('fonts/YuWeisform.ttf');
    /* IE9 Compat Modes */
    /*这里以及下面的src后面的地址填的都是自己本地的相对地址*/
    /* Legacy iOS */
    /* font-weight: bold;
          font-style: normal; */
  }

  .first {
    z-index: 99;
  }

  .logoimg {
    position: fixed;
    left: 20px;
    top: 0px;
    width: 223px;
    height: 64px;
  }

  .navbar-header {
    padding-left: 200px;
    height: 45px;
  }

  .nav-item {
    font-size: 18px;
    color: #000;
    border-bottom: 1px solid #ffffff;

  }

  .nav-item:hover {
    padding: 0px -2px;
    border-bottom: 1px solid #000000;
  }


  .button-header {
    padding-top: 7px;
  }

  .navbar-toggler {
    margin-top: 3px;
  }

  /* Make the image fully responsive */

  .carousel-inner img {
    width: 100%;
    height: 100%;
  }

  .my-navbar {
    padding: 9px;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    background-color: #ffffff;
    opacity: 0.70;
    -webkit-box-shadow: 3px 2px 37px -13px rgba(0, 0, 0, .3);
    box-shadow: 3px 2px 37px -13px rgba(0, 0, 0, .3);


  }

  .my-navbar a {
    background: transparent !important;
    /* color: #fff !important */
  }

  .my-navbar a:hover {
    color: #000000 !important;
    background: transparent;
    outline: 0
  }

  .my-navbar a {
    transition: color 0.5s ease-in-out;
  }

  /*-webkit-transition ;-moz-transition*/

  .top-nav {
    padding: 9px 5px;
    background: #ffffff;
    opacity: 1;
  }

  button.navbar-toggle {
    background-color: #fbfbfb;
  }

  /*整个背景都是transparent透明的，会看不到，所以再次覆盖一下*/

  button.navbar-toggle>span.icon-bar {
    background-color: #dedede
  }

  /* 
      导航栏登录注册css
       */
  .login {
    /* padding: 15px 25px; */
    border: unset;
    border-radius: 5px;
    color: #000000;
    z-index: 1;
    background: #e4e3e3;
    position: relative;
    font-weight: 1000;
    font-size: 10px;
    -webkit-box-shadow: 0px 0px 11px -6px rgba(0, 0, 0, .3);
    box-shadow: 0px 0px 11px -6px rgba(0, 0, 0, .3);
    transition: all 250ms;
    overflow: hidden;
  }

  .login::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    /* border-radius: 3px; */
    background-color: #BB1013;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
  }

  .login:hover {
    color: #e8e8e8;
  }

  .login:hover::before {
    width: 100%;
  }

  .resd {
    /* padding: 15px 25px; */
    border: unset;
    border-radius: 5px;
    color: #000000;
    z-index: 1;
    background: #e4e3e3;
    position: relative;
    font-weight: 1000;
    font-size: 10px;
    -webkit-box-shadow: 0px 0px 11px -6px rgba(0, 0, 0, .3);
    box-shadow: 0px 0px 11px -6px rgba(0, 0, 0, .3);
    transition: all 250ms;
    overflow: hidden;
  }

  .resd::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 3px;
    background-color: #BB1013;
    z-index: -1;
    transition: all 250ms
  }

  .resd:hover {
    color: #e8e8e8;
  }

  .resd:hover::before {
    width: 100%;
  }

  /* 
      导航栏登录注册css结束
       */

  /*轮播图左右按钮*/
  .prev {
    position: absolute;
    left: 2%;
    top: 50%;
    margin-top: 15px;
    width: 45px;
    height: 45px;
    background-color: rgba(0, 0, 0, .3);
    text-align: center;
    line-height: 30px;
    color: #fff;
    text-decoration: none;
    border-radius: 45px;
    border-radius: 45px;
    /* display: none; */
    z-index: 2;
  }

  .next {
    position: absolute;
    right: 2%;
    top: 50%;
    margin-top: 15px;
    width: 45px;
    height: 45px;
    background-color: rgba(0, 0, 0, .3);
    text-align: center;
    line-height: 30px;
    color: #fff;
    text-decoration: none;
    border-radius: 45px;
    border-radius: 45px;
    /* display: none; */
    z-index: 2;
  }

  /* 
        导航栏收缩时展示按钮
       */
  .burger {
    position: relative;
    width: 33px;
    height: 18px;
    background: transparent;
    cursor: pointer;
    top: 4px;
  }

  .burger input {
    display: none;
  }

  .burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }

  .burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
  }

  .burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }

  .burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
  }

  .burger input:checked~span:nth-of-type(1) {
    transform: rotate(45deg);
    top: -3px;
    left: 5px;
  }

  .burger input:checked~span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
  }

  .burger input:checked~span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 21px;
    left: 5px;
  }

  .search {
    z-index: 2000;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 61px;
    padding: 10px 0px;
    background: rgba(156, 156, 156, 0.45);
    backdrop-filter: blur(2px);
    border-radius: 4px;
    overflow: hidden;
  }

  .input {
    width: 80%;
    /* max-width: auto; */
    height: 30px;
    padding: 12px;
    background-color: #fffdfd;
    border-radius: 6px 0 0 6px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    /* box-shadow: 0px 0px 20px -18px; */
  }

  .input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
  }

  .input:active {
    transform: scale(0.95);
  }

  .input:focus {
    border-radius: 26px 0 0 26px;
  }

  .button--submit {
    border-radius: 0 6px 6px 0;
    border: none;
    background-color: #BB1013;
    color: #fff;
    font-size: 10px;
    font-weight: bolder;
  }


  /* 
        导航栏收缩时展示按钮结束
       */

  /* 更多活动按钮 */
  .moreActivity {
    width: 7.5em;
    height: 2.3em;
    /* margin: 0.5em; */
    background: #BB1013;
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

  .moreActivity:hover {
    color: black;
  }

  .moreActivity:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
  }

  .moreActivity:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

  /* <!-- 新闻开始 --> */
  .news {
    width: 100%;
    height: 557px;
    background: url("img/H0SP1E.jpg") no-repeat center center/cover;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 557px;
  }



  .more {
    background: none;
    border: none;
    /* padding: 2px 10px; */
    border-radius: 10px;
    float: right;
  }

  .moref2 {
    background: none;
    border: none;
    /* padding: 2px 10px; */
    border-radius: 10px;
    float: right;
    color: rgb(255, 255, 255);
  }

  .more:hover {
    background: rgba(170, 170, 170, 0.062);
    transition: 0.5s;
  }

  .more svg {
    color: #fff;
  }

  .cakf1 {


    background: rgba(255, 255, 255, 0.47);
    backdrop-filter: blur(2px);
    border-radius: 4px;
  }

  .cakf2 {


    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(0px);
    border-radius: 4px;
  }

  .cards {
    width: 190px;
    height: 254px;
    margin: 0 auto;
    background-color: #F8FBFE;
    border-radius: 8px;
    z-index: 1;
  }

  .tools {
    display: flex;
    align-items: center;
    padding: 9px;
  }

  .circle {
    padding: 0 4px;
  }

  .box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
  }

  .red {
    background-color: #ff605c;
  }

  .yellow {
    background-color: #ffbd44;
  }

  .green {
    background-color: #00ca4e;
  }

  /* 新闻结束 */
  /*作品展示开始*/
  /*图标*/
  .calligraphy_icon {
    margin: 0 auto;
    width: 180px;
  }

  /* .calligraphy_icon>div {
          margin-top: -1px;
      } */
  .calligraphy_introduce {
    font-size: 14px;
    text-align: center;
  }

  /*滑动*/
  .slide-container {
    margin-top: 1x;
    max-width: 1200px;
    width: 100%;
    max-height: 700px;
    /* background-color: rgb(222, 219, 219); */
    padding: 0 20px 40px 20px;
    /* --swiper-navigation-size:0; */
    overflow-x: hidden;
  }

  .slide-content {
    margin: 0 40px;
  }

  .carde {
    width: 200px;
    height: 400px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    position: relative;
    box-shadow: 0 4px 6px 0 rgba(39, 36, 36, 0.24);
    background-color: rgba(255, 255, 255, 0.15);

  }

  .carde:hover {
    box-shadow: 1px 7px 8px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    transition: all 0.3s ease;

  }

  .image-content,
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* padding: -10px -14px; */

  }

  .image-content {
    position: relative;
    row-gap: 5px;
    width: 100%;
    height: 230px;
    border-radius: 15px 15px 0 0;

  }


  .card-image {
    position: relative;
    height: 150px;
    width: 150px;

  }


  .card-image,
  .card-img {
    height: 100%;
    width: 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
  }

  .name {
    margin-top: 12px;
    font-size: 18px;
    font-weight: 500;
    color: #333;
    text-align: center;
  }

  .description {
    font-size: 14px;
    color: #707070;
    text-align: center;
    padding: 2px;
  }

  .button {
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: rgb(225, 65, 65);
    border-radius: 12px;

    cursor: pointer;
    transition: all 0.3s ease;
    width: 4.5em;
    height: 2.3em;

    margin: 2px -50px;
    position: relative;
    left: 55%;


  }

  .button:hover {
    background-color: rgb(207, 46, 46);
    box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.24);

  }

  /*左右按钮*/
  .swiper-button-prev {
    color: rgba(0, 0, 0, 0) !important;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l4.2%2C4.2L8.4%2C22l17.8%2C17.8L22%2C44L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
    position: absolute;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: rgba(130, 127, 127, 0.3);
    text-decoration: none;
    border-radius: 45px;
    border-radius: 45px;
    /* display: none; */
    z-index: 2;


  }

  .swiper-button-next {
    color: rgba(0, 0, 0, 0) !important;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L5%2C44l-4.2-4.2L18.6%2C22L0.8%2C4.2L5%2C0z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
    position: absolute;
    right: 0;
    width: 60px;
    height: 60px;
    background-color: rgba(130, 127, 127, 0.3);
    border-radius: 45px;
    border-radius: 45px;
    /* display: none; */
    z-index: 2;

  }

  .hide {
    display: none;
  }

  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    color: #000;
    transition: opacity 0.5s;
  }

  .swiper-pagination-bullet {
    background-color: #f39798;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background-color: rgb(225, 65, 65);
  }

  /*尾部开始*/
  .footer {
    width: 100%;
    height: 350px;
    background: #fda9a9;
    margin-top: 20px;
  }

  .footer-in {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 100px 50px;
    justify-content: space-around;
  }

  .footer-item {
    width: 100px;
    border-right: 1px solid rgb(221, 81, 81);
  }

  .footer-item:last-child {
    border-right: none;
  }

  footer-item:last-child(2) {
    border-right: none;
  }

  .footer-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  /*作品展示结束*/

  /* 活动中心开始 */
  .hdxw-right ul li {
    height: 36px;
    line-height: 36px;
    /* position: relative; */
    /* text-overflow: ellipsis; */
    white-space: nowrap;
    /* overflow: hidden; */
  }

  /* 活动中心结束 */