<!DOCTYPE html>
<html lang="activity">

<head>
    <title>活动</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <script src="js/jquery-3.1.0.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/template-web.js"></script>
    <link rel="stylesheet" href="css/blog.css">
    <link rel="stylesheet" href="css/index.css">
    <style>
        /* 卡片开始 */
        .header {
            background-color: #BB1013;
            color: #fff;
            padding: 15px;
            text-align: center;
            font-size: 18px;
        }

        .skill {
            padding: 10px;
            /* border: #000000; */
            border-bottom: 1px solid #d2cece;
            /* text-align: center; */
            /* display: inline; */
            /* width: 24%;
            text-decoration: none;
            padding: 15px; */
            list-style: none;
        }

        .skill:hover {
            background-color: #D4DFE6;
        }


        /* 卡片结束 */
        .form-box {
            max-width: 100%;
            background: #f1f7fe;
            overflow: hidden;
            border-radius: 16px;
            color: #010101;
        }

        .form {
            position: relative;
            display: flex;
            flex-direction: column;
            padding: 32px 24px 24px;
            gap: 16px;

        }

        /*Form text*/
        .title {
            font-weight: bold;
            font-size: 1.6rem;
            text-align: center;
        }

        .subtitle {
            font-size: 1rem;
            color: #666;
            text-align: center;
        }

        /*Inputs box*/
        .form-container {
            overflow: hidden;
            border-radius: 8px;
            background-color: #fff;
            margin: 1rem 0 .5rem;
            width: 100%;
        }

        .input1 {
            background: none;
            border: 0;
            outline: 0;
            height: 40px;
            width: 100%;
            border-bottom: 1px solid #eee;
            font-size: .9rem;
            padding: 8px 15px;
        }

        .form-section {
            padding: 16px;
            font-size: .85rem;
            background-color: #e0ecfb;
            box-shadow: rgb(0 0 0 / 8%) 0 -1px;
        }

        .form-section a {
            font-weight: bold;
            color: #0066ff;
            transition: color .3s ease;
        }

        .form-section a:hover {
            color: #005ce6;
            text-decoration: underline;
        }

        /*Button*/
        .form button {
            background-color: #BB1013;
            color: #fff;
            border: 0;
            border-radius: 24px;
            padding: 10px 16px;
            font-size: 1rem;
            font-weight: 600;
            cursor: pointer;
            transition: background-color .3s ease;
        }

        .form button:hover {
            background-color: #ed494c;
        }

        .btn {
            width: 100%;
            height: 40px;
            font-size: 1.1em;
            cursor: pointer;
            background-color: #BB1013;
            color: #fff;
            border: none;
            border-radius: 5px;
            transition: all .4s;
        }

        /* 主要活动开始 */
        .main {
            margin-top: 30px;
        }

        * {
            margin: 0px auto;
        }

        * {

            box-sizing: border-box;
        }

        div {
            display: block;
        }

        .main {
            margin-top: 30px;
        }

        * {
            margin: 0px auto;
        }

        /* * {
            }-webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        } */

        div {
            display: block;
        }

        /* @media (max-width: 1200px) */
        /* body {
            font-size: 14px;
        } */
        /* @media (max-width: 1599px) */


        /* body {
            font-family: 微软雅黑, 黑体, STHeiti, "Microsoft YaHei";
            font-size: 16px;
        } */
        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
            line-height: 1.42857143;
            color: #333;
            background-color: #FFD;
        }

        html {
            font-size: 10px;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }

        html {
            font-family: sans-serif;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }

        :after, :before {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        :after, :before {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

    </style>
</head>

<body>
<div class="first">
    <!-- 导航栏 -->
    <nav class="navbar navbar-expand-lg fixed-top my-navbar  navbar-light " role="navigation">
        <!-- logo -->

        <a class="navbar-brand" href="#" style="margin-left: 240px;">
            <img class="logoimg" src="img/logo.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <!-- <span class="navbar-toggler-icon"></span> -->
            <label for="burger" class="burger">
                <input id="burger" type="checkbox">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </button>

        <!-- mene -->

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <!-- navbar-collapse 缩减之后的样式 -->
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="index.html">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="activity.html">活动</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="news.html">新闻</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="calligraphy_works.html">作品展示</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="course.html">教学</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="" href="about.html">加入我们</a>

                </li>
            </ul>
            <ul class="navbar-nav flex-row ml-md-auto d-md-flex">
                <li class="btnli">
                    <a class="btn btn-light " data-toggle="collapse" href="#collapseExample" role="button"
                       aria-expanded="false" aria-controls="collapseExample">
                        <i class="bi bi-search">
                            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor"
                                 style="color: #BB1013;" class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg>
                        </i>
                    </a>
                    <!-- <button class="btn btn-light my-2 my-sm-0" type="submit"></button> -->
                </li>
            </ul>
            <button class="nav-link login d-lg-inline-block mb-3 mb-md-0 ml-lg-3 mt-2" href=""><a
                    href="login.html">登录</a></button>
            <button class="nav-link resd d-lg-inline-block mb-3 mb-md-0 ml-lg-3 mt-2" href=""><a
                    href="register.html">注册</a></button>

        </div>
    </nav>
    <div class="search" style="display: none;">
        <form action="">
            <div class="input-group d-flex justify-content-center">
                <input type="text" class="input " placeholder="请输入您想要输入的内容" autocomplete="off">
                <input class="button--submit" value="搜索内容" type="submit">
            </div>

        </form>
    </div>
    <!-- 导航栏结束 -->
</div>
<!--内容-->
<img src="img/he1.jpg" alt="" width="100%" height="380px">
<div class="main">
    <div class="container"
    <div class="row">
        <div class="container-fluid activity">
            <div class="lm-title"><span><img src="img/maobi.jpg" width="45px" height="45px"></span><span>图片·活动<img
                    src="img/moshui.jpg" class="ar" width="117px" height="-13px"></span>
                <div class="more"><a href="more.html">更多&gt;</a></div>
            </div>

            <div class="row">
                <script language="javascript" src="js/cebterCytImg.js"></script>
                <script language="javascript" src="js/ajax..js"></script>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="activity-item">
                        <div class="activity-img">
                            <a href="a1.html" target="_blank">
                                <img src="img/shufa1.jpeg" alt="" width="271px" height="253px">
                            </a>
                        </div>
                        <div class="activity-item-title"><a
                                href="https://mp.weixin.qq.com/s?__biz=MzA5MDcxNTEyNg==&mid=2651670297&idx=1&sn=f5b657ff31e15200653bd061507ab639&chksm=8bfe8180bc8908967364ef083b311b1c851a6287b11a4c0668ea7edc203373ff6449b3d6b609&scene=27"
                                target="_blank"></a>年校级领导进行书法切磋
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="activity-item">
                        <div class="activity-img">
                            <a href="a2.html" target="_blank">
                                <img src="img/shufa2.jpeg" alt="" width="271px" height="253px">
                            </a>
                        </div>
                        <div class="activity-item-title"><a
                                href="https://mp.weixin.qq.com/s?__biz=MzA5MDcxNTEyNg==&mid=2651670297&idx=1&sn=f5b657ff31e15200653bd061507ab639&chksm=8bfe8180bc8908967364ef083b311b1c851a6287b11a4c0668ea7edc203373ff6449b3d6b609&scene=27"
                                target="_blank"></a>市级领导到我校友好交流书法
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="activity-item">
                        <div class="activity-img">
                            <a href="a3.html" target="_blank">
                                <img src="img/shufa3.jpeg" alt="" width="271px" height="253px">
                            </a>
                        </div>
                        <div class="activity-item-title"><a
                                href="https://mp.weixin.qq.com/s?__biz=MzA5MDcxNTEyNg==&mid=2651670297&idx=1&sn=f5b657ff31e15200653bd061507ab639&chksm=8bfe8180bc8908967364ef083b311b1c851a6287b11a4c0668ea7edc203373ff6449b3d6b609&scene=27"
                                target="_blank"></a>校园书法大赛如火如荼进行中
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="activity-item">
                        <div class="activity-img">
                            <a href="a4.html" target="_blank">
                                <img src="img/shufa4.jpeg" alt="" width="271px" height="253px">
                            </a>
                        </div>
                        <div class="activity-item-title"><a
                                href="https://mp.weixin.qq.com/s?__biz=MzA5MDcxNTEyNg==&mid=2651670297&idx=1&sn=f5b657ff31e15200653bd061507ab639&chksm=8bfe8180bc8908967364ef083b311b1c851a6287b11a4c0668ea7edc203373ff6449b3d6b609&scene=27"
                                target="_blank"></a>同学友好之间的书法小游戏
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="activity-item">
                        <div class="activity-img">
                            <a href="a1.html" target="_blank">
                                <img src="img/shufa5.jpeg" alt="" width="271px" height="253px">
                            </a>
                        </div>
                        <div class="activity-item-title"><a
                                href="https://mp.weixin.qq.com/s?__biz=MzA5MDcxNTEyNg==&mid=2651670297&idx=1&sn=f5b657ff31e15200653bd061507ab639&chksm=8bfe8180bc8908967364ef083b311b1c851a6287b11a4c0668ea7edc203373ff6449b3d6b609&scene=27"
                                target="_blank"></a>书法社团的团日活动
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="activity-item">
                        <div class="activity-img">
                            <a href="a1.html" target="_blank">
                                <img src="img/shufa6.jpeg" alt="" width="271px" height="253px">
                            </a>
                        </div>
                        <div class="activity-item-title"><a
                                href="https://mp.weixin.qq.com/s?__biz=MzA5MDcxNTEyNg==&mid=2651670297&idx=1&sn=f5b657ff31e15200653bd061507ab639&chksm=8bfe8180bc8908967364ef083b311b1c851a6287b11a4c0668ea7edc203373ff6449b3d6b609&scene=27"
                                target="_blank"></a>书法社内的日常练字
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="activity-item">
                        <div class="activity-img">
                            <a href="a1.html" target="_blank">
                                <img src="img/shufa7.jpg" alt="" width="271px" height="253px">
                            </a>
                        </div>
                        <div class="activity-item-title"><a
                                href="https://mp.weixin.qq.com/s?__biz=MzA5MDcxNTEyNg==&mid=2651670297&idx=1&sn=f5b657ff31e15200653bd061507ab639&chksm=8bfe8180bc8908967364ef083b311b1c851a6287b11a4c0668ea7edc203373ff6449b3d6b609&scene=27"
                                target="_blank"></a>2021年校园文化节书法获奖
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="activity-item">
                        <div class="activity-img">
                            <a href="a1.html" target="_blank">
                                <img src="img/shufa8.jpeg" alt="" width="271px" height="253px">
                            </a>
                        </div>
                        <div class="activity-item-title"><a
                                href="https://mp.weixin.qq.com/s?__biz=MzA5MDcxNTEyNg==&mid=2651670297&idx=1&sn=f5b657ff31e15200653bd061507ab639&chksm=8bfe8180bc8908967364ef083b311b1c851a6287b11a4c0668ea7edc203373ff6449b3d6b609&scene=27"
                                target="_blank"></a>往年的优秀书法展示
                        </div>
                    </div>
                </div>

                <div class="tz-activity">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-xs-12 notice">
                                <div class="notice-item"><span> <img src="img/maobi.jpg" alt="" idth="45px"
                                                                     height="45px"> <span>通知·公告</span> </span>
                                </div>
                                <div class="more"><a href="tzgg.htm"> 更多&gt;</a></div>
                                <div class="notice-con">
                                    <div class="notice-item">
                                        <div class="notice-title" style="width: 469.5px;height: 47px;"><a
                                                href="https://baijiahao.baidu.com/s?id=1755254530155462344&wfr=spider&for=pc"
                                                target="_blank">昆明西山区：志愿服务暖邻里，笔墨迎春送祝福</a>
                                        </div>
                                        <div class="notice-date">2023-02-27</div>
                                    </div>

                                    <div class="notice-item">
                                        <div class="notice-title"><a
                                                href="https://www.baidu.com/link?url=12CdxDL1BplqhPwxDFzTjlh-uFSiWGZuEAru89q8SG4sDj7FfQMLa2WhwPibWsBaOWn41K7d-wXD3qfXv48OSmxovkGPpoL5Zoadcd1mMeWB013DN61KhbAFP7oa2-RYh3xaNKN6j5Ek1bfEgetDM8bxmK0T8LHwvaJRYkZ0oUj0Ec3AfE2rGZElIsY0lCFa9_g5XMSeGJNtw1er0n-i5bSw8L1tpSs0cLWTx85v9cTMnw1IctKwCWeZz4oj06Edjo3gfk8xlZbZoDYDnRkja_&wd=&eqid=beeba5be0000e0ed0000000664084612"
                                                target="_blank">
                                            【社区文化】南宁社区书法协会举办会员书画作品展览</a>
                                        </div>
                                        <div class="notice-date">2022-05-24</div>
                                    </div>
                                    <div class="notice-item">
                                        <div class="notice-title"><a
                                                href="https://mp.weixin.qq.com/s?__biz=MzAwNzMyMzYyNA==&mid=2654163839&idx=2&sn=4a62e73a24ad8a5f96fd2f2f845b1d44&chksm=80b819f8b7cf90eedcd2d94d5fab2c0c2444828be1e14ddf4931e053ef6c98563fe195237d29&scene=27"
                                                target="_blank">
                                            基层动态 | 怡景社区共享职工之家开展职工书法技能提升活动</a>
                                        </div>
                                        <div class="notice-date">2023-02-14</div>
                                    </div>
                                    <div class="notice-item">
                                        <div class="notice-title"><a
                                                href="https://baijiahao.baidu.com/s?id=1757754598175048744&wfr=spider&for=pc"
                                                target="_blank">
                                            西秀区马槽社区开展“妙笔生花·笔墨传承”主题活动</a>
                                        </div>
                                        <div class="notice-date">2023-01-28</div>
                                    </div>
                                    <div class="notice-item">
                                        <div class="notice-title"><a
                                                href=https://m.163.com/dy/article/HAIONI1P0534HBIR.html"
                                                target="_blank">
                                            书法进社区翰墨颂党恩社区开展书法活动</a>
                                        </div>
                                        <div class="notice-date">2023-01-05</div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-xs-12" color="pink">
                                <div class="media-item"><span> <img src="img/maobi.jpg" alt="" idth="45px"
                                                                    height="45px"> <span>媒体·关注</span> </span>
                                </div>
                                <div class="more" target="_blank"><a href=""> 更多&gt;</a></div>
                                <div class="notice-con">
                                    <div class="media-item">
                                        <div class="media-title"><a
                                                href="https://mp.weixin.qq.com/s?__biz=MzIwODE5NzgzMw==&mid=2652337940&idx=7&sn=48d65e4368c529cdf317e9243c6a28aa&chksm=8ce516b2bb929fa45d088b50ae150f2df8e929319cc54582bff764fbffebccaab5d60d2f8d28&scene=27"
                                                target="_blank">青冈县办“翰墨书金句•礼赞新时代”二十大报告“金点金句”活动</a></div>
                                        <div class="media-date">2023-02-03</div>
                                    </div>

                                    <div class="media-item">
                                        <div class="media-title"><a
                                                href="http://news.lyd.com.cn/system/2023/01/14/032397840.shtml"
                                                target="_blank">“书润童心”中国年——和书法家一起“写年味”活动拉开帷幕</a></div>
                                        <div class="media-date">2023-01-14</div>
                                    </div>

                                    <div class="media-item">
                                        <div class="media-title"><a
                                                href="https://baijiahao.baidu.com/s?id=1759048467994274505&wfr=spider&for=pc"
                                                target="_blank">“田雪松书法讲堂”活动举行 传承汉字文化 重视练习书法</a></div>
                                        <div class="media-date">2023-02-28</div>
                                    </div>

                                    <div class="media-item">
                                        <div class="media-title"><a
                                                href=https://baijiahao.baidu.com/s?id=1754537741485106823&wfr=spider&for=pc"
                                                target="_blank">2023年“送万福、进万家”书法公益首场示范活动在京举办</a></div>
                                        <div class="media-date">2023-01-09</div>
                                    </div>

                                    <div class="media-item">
                                        <div class="media-title"><a
                                                href="https://www.163.com/dy/article/HSE2SAKA0514CFC7.html"
                                                target="_blank">东营市河口区：“翰墨飘香 传承文化” 让青少年爱上书法</a></div>
                                        <div class="media-date">2023-01-31</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="tx-sd">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="lm-title"><span><img src="img/chuanqi.png" width=70px"
                                                                 height="45px"/></span><span>学习・视点</span><span
                                        class="ar"><img src="img/yunran.png" width="127px" height="25px"/></span>
                                </div>
                                <div class="more"><a href="tx_sd.htm" target="_blank">更多&gt;</a>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12 xdtx">
                                <div class="dj-img">
                                    <a href="info/1026/9781.htm" target="_blank" title="书法多项活动四处开展 一路生花"><img
                                            src="img/chuan1.jpg" width="621px" height="414px"></a>


                                    <div class="dj-title">书法传讯</div>
                                </div>
                                <div class="dj-con">
                                    <div class="notice-item">
                                        <div class="notice-title"><a
                                                href="http://www.360doc.com/content/23/0121/03/66830933_1064361926.shtml"
                                                target="_blank">望江书协：翰墨飘香迎兔岁 云端传讯拜大年</a>
                                        </div>
                                        <div class="notice-date">2023-01-13</div>
                                    </div>
                                    <div class="notice-item">
                                        <div class="notice-title"><a
                                                href="https://sdxw.iqilu.com/share/YS0yMS03ODIzODI3.html"
                                                target="_blank">潍坊青州市：书法为“媒”促发展 翰墨飘香展风采</a>
                                        </div>
                                        <div class="notice-date">2023-05-26</div>
                                    </div>
                                    <div class="notice-item">
                                        <div class="notice-title"><a href="https://zhuanlan.zhihu.com/p/92325661"
                                                                     target="_blank">书法之韵：纸笔相和，识韵传心</a>
                                        </div>
                                        <div class="notice-date">2023-04-07</div>
                                    </div>
                                    <div class="notice-item">
                                        <div class="notice-title"><a
                                                href="https://baijiahao.baidu.com/s?id=1750478359927990798&wfr=spider&for=pc"
                                                target="_blank">妙祥书法，随喜结缘</a>
                                        </div>
                                        <div class="notice-date">2022-11-25</div>
                                    </div>
                                    <div class="notice-item">
                                        <div class="notice-title"><a href="https://new.qq.com/rain/a/20211019a0eg3d00"
                                                                     target="_blank">黄庭坚：一生坎坷，大笑而逝的书法大家</a>
                                        </div>
                                        <div class="notice-date">2021-10-20</div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12 rdzt">
                                <div class="dj-img">
                                    <a href="info/1027/9495.htm" target="_blank" title="青春书法行 奋进新百年"><img
                                            src="img/chuan2.jpeg" width="621px" height="414px"></a>


                                    <div class="dj-title">热点专题</div>
                                </div>
                                <div class="dj-con">
                                    <div class="notice-item">
                                        <div class="notice-title"><a href="https://wd88wan.com/68353.html"
                                                                     target="_blank">年终回眸|澎湃新闻关注的十大书法热点：喧嚣、沉淀与寂寞</a>
                                        </div>
                                        <div class="notice-date">2022-12-30</div>
                                    </div>
                                    <div class="notice-item">
                                        <div class="notice-title"><a
                                                href="http://www.sh.chinanews.com.cn/wenhua/2023-03-03/108670.shtml"
                                                target="_blank">全国书法界盛会在华东师范大学举行</a>
                                        </div>
                                        <div class="notice-date">2023-03-03</div>
                                    </div>
                                    <div class="notice-item">
                                        <div class="notice-title"><a
                                                href="https://www.163.com/dy/article/HV7MRD4H05561IU1.html"
                                                target="_blank">中名联中外文化交流活动别的单位做不到</a>
                                        </div>
                                        <div class="notice-date">2023-03-07</div>
                                    </div>
                                    <div class="notice-item">
                                        <div class="notice-title"><a href="https://new.qq.com/rain/a/20230113A072M200"
                                                                     target="_blank">书法评论与文化传播</a>
                                        </div>
                                        <div class="notice-date">2023-01-13</div>
                                    </div>
                                    <div class="notice-item">
                                        <div class="notice-title"><a href="https://new.qq.com/rain/a/20221125A0540C00"
                                                                     target="_blank">中国书法报》2022年第45期（总第395期）</a>
                                        </div>
                                        <div class="notice-date">2022-11-25</div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="container spzq">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="lm-title">
                                    <span><img
                                            src="img/movie.png" / width="45px" height="45px"></span><span>影像·书法社</span><span
                                        class="ar"><img src="img/movie2.jpeg" / width="127px" height="40px"></span>
                                </div>
                                <div class="more">
                                    <a href="yx_sy.htm" target="_blank">更多&gt;</a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <a href="https://mp.weixin.qq.com/s?__biz=MjM5NTI5MjI4NQ==&mid=2649416725&idx=1&sn=374f6f60a975210ff54af12a8131885d&chksm=bee4f10789937811489925f179bf236d3187fe9871fe279096281311f07e799b8610ceb7d432&scene=27"
                                   target="_blank">
                                    <img src="img/ying2.png" width="270px" height="355px">
                                </a>
                                <div class="sqzq-title"><a
                                        href="https://mp.weixin.qq.com/s?__biz=MjM5NTI5MjI4NQ==&mid=2649416725&idx=1&sn=374f6f60a975210ff54af12a8131885d&chksm=bee4f10789937811489925f179bf236d3187fe9871fe279096281311f07e799b8610ceb7d432&scene=27"
                                        target="_blank"
                                        title="【知行伴宁学传统】中国书法演变史，你知道几个？">【知行伴宁学传统】中国书法演变史，你知道几个？</a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <a href="http://www.eastxinwen.com/pages/46779.html" target="_blank">
                                    <img src="img/shufajia.png" width=270px" height="355px">
                                </a>
                                <div class="sqzq-title"><a href="http://www.eastxinwen.com/pages/46779.html"
                                                           target="_blank" title="文人书法里的风度与风骨">文人书法里的风度与风骨</a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <a href="https://www.sohu.com/a/150628801_162758" target="_blank">
                                    <img src="img/ying1.png" width="270px" height="355px">
                                </a>
                                <div class="sqzq-title"><a href="https://www.sohu.com/a/150628801_162758"
                                                           target="_blank" title="传承书法背后的文化精神">传承书法背后的文化精神</a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <a href="https://www.sohu.com/a/155882349_157267" target="_blank">
                                    <img src="img/ying3.png" width="270px" height="355px">
                                </a>
                                <div class="sqzq-title"><a href="https://www.sohu.com/a/155882349_157267"
                                                           target="_blank" title="书法事业发展现状一览：东风又起 时代更新 ">书法事业发展现状一览：东风又起
                                    时代更新 </a>
                                </div>
                            </div>
                            <!-- <ul class="pic">    <li>
                    <a href="https://mp.weixin.qq.com/s?__biz=MjM5NTI5MjI4NQ==&mid=2649416725&idx=1&sn=374f6f60a975210ff54af12a8131885d&chksm=bee4f10789937811489925f179bf236d3187fe9871fe279096281311f07e799b8610ceb7d432&scene=27" target="_blank">
                        <img src="img/ying2.png" width="270px" height="355px">
                    </a>
                    <div class="sqzq-title"><a href="https://mp.weixin.qq.com/s?__biz=MjM5NTI5MjI4NQ==&mid=2649416725&idx=1&sn=374f6f60a975210ff54af12a8131885d&chksm=bee4f10789937811489925f179bf236d3187fe9871fe279096281311f07e799b8610ceb7d432&scene=27" target="_blank"
                        title="【知行伴宁学传统】中国书法演变史，你知道几个？">【知行伴宁学传统】中国书法演变史，你知道几个？</a>
                    </div>
                    </li>
                    <li>
                    <a href="http://www.eastxinwen.com/pages/46779.html" target="_blank">
                        <img src="img/shufajia.png" width=270px" height="355px">
                    </a>
                    <div class="sqzq-title"><a href="http://www.eastxinwen.com/pages/46779.html"
                         target="_blank" title="文人书法里的风度与风骨">文人书法里的风度与风骨</a>
                    </div>
                    </li>
                    <li>
                    <a href="https://www.sohu.com/a/150628801_162758" target="_blank">
                        <img src="img/ying1.png"  width="270px" height="355px">
                    </a>
                    <div class="sqzq-title"><a href="https://www.sohu.com/a/150628801_162758" target="_blank" title="传承书法背后的文化精神">传承书法背后的文化精神</a>
                    </div>
                    </li>
                    <li>
                    <a href="https://www.sohu.com/a/155882349_157267" target="_blank">
                        <img src="img/ying3.png" width="270px" height="355px">
                    </a>
                    <div class="sqzq-title"><a href="https://www.sohu.com/a/155882349_157267" target="_blank" title="书法事业发展现状一览：东风又起 时代更新 ">书法事业发展现状一览：东风又起 时代更新 </a>
                    </div>
                    </li>

                    </ul> -->

                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>

</html>
