<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>钢笔书法基本知识</title>
    <style>
        body{
            background-color: #edeff2;       
            text-align: center;
        }

    </style>
</head>
<body >
    <div>
        <h1>钢笔书法基本知识</h1>
        <h5>钢笔书法及其基本知识</h5>
        <p>
            书法，就是写字的技法。“书”有写字的意思；“法”就是方法、技法、法则，也就是汉字的书写艺术。它是我们中华民族特有的高级艺术形式。
        </p>
        <p>钢笔书法，就是用钢笔表现汉字的线条书写和造型艺术。其“线条书写”即用钢笔表现汉字的各种笔画的方法，其“造型”即汉字的结构和章法。因此。钢笔书法跟毛笔书法一样。由三个最基本最关键的因素组成，即：线条(笔画)、结构、章法，称为书法的三要素。</p>
    </div>
    

</body>
</html>