<!DOCTYPE html>
<html lang="zn-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>教程</title>
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        body {
            font-family: SF Pro SC, SF Pro Display, SF Pro Icons, AOS Icons, PingFang SC, Helvetica Neue, Helvetica, Arial, sans-serif;
        }

        @font-face {
            font-family: 'YuWeisform';
            /* 这个名字可以自己定义 */
            src: url('fonts/YuWeisform.ttf');
            /* IE9 Compat Modes */
            /*这里以及下面的src后面的地址填的都是自己本地的相对地址*/
            /* Legacy iOS */
            /* font-weight: bold;
            font-style: normal; */
        }

        .first {
            z-index: 99;
        }

        .logoimg {
            position: fixed;
            left: 20px;
            top: 0px;
            width: 223px;
            height: 64px;
        }

        .navbar-header {
            padding-left: 200px;
            height: 45px;
        }

        .nav-item {
            font-size: 18px;
            color: #000;
            border-bottom: 1px solid #ffffff;

        }

        .nav-item:hover {
            padding: 0px -2px;
            border-bottom: 1px solid #000000;
        }


        .button-header {
            padding-top: 7px;
        }

        .navbar-toggler {
            margin-top: 3px;
        }

        /* Make the image fully responsive */

        .carousel-inner img {
            width: 100%;
            height: 100%;
        }

        .my-navbar {
            padding: 9px;
            transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
            background-color: #ffffff;
            opacity: 0.70;
            -webkit-box-shadow: 3px 2px 37px -13px rgba(0, 0, 0, .3);
            box-shadow: 3px 2px 37px -13px rgba(0, 0, 0, .3);


        }

        .my-navbar a {
            background: transparent !important;
            /* color: #fff !important */
        }

        .my-navbar a:hover {
            color: #000000 !important;
            background: transparent;
            outline: 0
        }

        .my-navbar a {
            transition: color 0.5s ease-in-out;
        }

        /*-webkit-transition ;-moz-transition*/

        .top-nav {
            padding: 9px 5px;
            background: #ffffff;
            opacity: 1;
        }

        button.navbar-toggle {
            background-color: #fbfbfb;
        }

        /*整个背景都是transparent透明的，会看不到，所以再次覆盖一下*/

        button.navbar-toggle>span.icon-bar {
            background-color: #dedede
        }

        /* 
        导航栏登录注册css
         */
        .login {
            /* padding: 15px 25px; */
            border: unset;
            border-radius: 5px;
            color: #000000;
            z-index: 1;
            background: #e4e3e3;
            position: relative;
            font-weight: 1000;
            font-size: 10px;
            -webkit-box-shadow: 0px 0px 11px -6px rgba(0, 0, 0, .3);
            box-shadow: 0px 0px 11px -6px rgba(0, 0, 0, .3);
            transition: all 250ms;
            overflow: hidden;
        }

        .login::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0;
            /* border-radius: 3px; */
            background-color: #BB1013;
            z-index: -1;
            -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
            box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
            transition: all 250ms
        }

        .login:hover {
            color: #e8e8e8;
        }

        .login:hover::before {
            width: 100%;
        }

        .resd {
            /* padding: 15px 25px; */
            border: unset;
            border-radius: 5px;
            color: #000000;
            z-index: 1;
            background: #e4e3e3;
            position: relative;
            font-weight: 1000;
            font-size: 10px;
            -webkit-box-shadow: 0px 0px 11px -6px rgba(0, 0, 0, .3);
            box-shadow: 0px 0px 11px -6px rgba(0, 0, 0, .3);
            transition: all 250ms;
            overflow: hidden;
        }

        .resd::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0;
            border-radius: 3px;
            background-color: #BB1013;
            z-index: -1;
            transition: all 250ms
        }

        .resd:hover {
            color: #e8e8e8;
        }

        .resd:hover::before {
            width: 100%;
        }

        /* 
        导航栏登录注册css结束
         */
         /* 导航栏结束 */
        /* 图片背景开始 */
        .calligraphy_img_container>img {
            width: 100%;
        }

        /* 图片背景结束 */

        /* 教程开始 */
        .widget {
            background-color: #ffffff;
            padding: 3rem 2rem;
            border-radius: 5px;
        }

        .page-wrapper {
            background-color: #ffffff;
            padding: 3rem;
        }

        #myTab li a {
            text-decoration: none !important;
            color: #792c2c;
        }

        .nav-tabs  {
            border-color: #BB1013;
            border-bottom-width: 3px;
        }
        #teach_menu {
            min-width: 100px;
            text-align: center;
            box-shadow: 0 1px 3px 0 #9d1b1b;
        }

        #teach_menu>li:hover {
            box-shadow: 0px 0px 3px #000000 inset;
        }

        #pen,#brush{
            margin-top: 10px;
        }

        .thumbnail-image {
            cursor: pointer;
            display: block;
            width: 100px;
            height: 60px;
            margin-right: 10px;
        }

        .thumbnail-images {
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 10px;
        }

        .carousel-item:hover {
            cursor: pointer;
        }

        .carousel-control {
            display: none;
        }
        /* 换一换按钮开始 */
        .change2{
             color: #615e5e; 
             font-size: 13px;
             right: 4%;
             bottom: 3px; 
             position: absolute;

        }
        /* 换一换结束*/
        .pen_video_container,.brush_video_container{
            margin: 4px;
        }


        .pen_img_container,.brush_img_container{
            margin: 0 auto;
        }

        .pen_box,.brush_box{
            text-align: center;
            line-height: 0.5;
            /* border: 1px solid ; */
            border-radius: 8px;
            padding-bottom: 0.1px;
            margin: 4px;
            /* background-color: #908d8d; */

        }

        .pen_box:hover,.brush_box:hover{
            /* background-color: #908d8d; */
            cursor: pointer;

        }

        .pen_box>h6,.brush_box>h6{
            letter-spacing: 3px;
        }

        .pen_box>p,.brush_box>p{
            color: rgb(188, 184, 184);
            font-size: 12px;
            letter-spacing: 3px;
        }

        /* #pen_text {
            display: none;
        }

        .pen_box:hover #pen_text {
            display: block;
        } */


        .pen_video_container,.brush_video_container{
            min-width: 100%;
            /* min-height: 300px; */
            /* padding: 10px; */

        }

       

        .fullscreenvideo {
            width: 100%;
            height: 100%;
            position: relative;
            object-fit: fill;
            overflow: hidden;
            margin: 0 auto;
            border-radius: 8px;
        }
        .fullscreenvideo1 {
            width: 100%;
            height: 100%;
            position: relative;
            object-fit: fill;
            overflow: hidden;
            margin: 0 auto;
        }
        .fullscreenvideo1:hover{
            cursor: pointer;
        }
        
        
       
    </style>
</head>

<body>
    <div class="first">
        <!-- 导航栏 -->
        <nav class="navbar navbar-expand-lg fixed-top my-navbar navbar-light " role="navigation">
            <!-- logo -->

            <a class="navbar-brand" href="#" style="margin-left: 240px;">
                <img class="logoimg" src="img/logo.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <!-- <span class="navbar-toggler-icon"></span> -->
                <label for="burger" class="burger">
                    <input id="burger" type="checkbox">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
            </button>

            <!-- mene -->

            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <!-- navbar-collapse 缩减之后的样式 -->
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="index.html">首页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="activity.html">活动</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="news.html">新闻</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="calligraphy_works.html">作品展示</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="course.html">教学</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="" href="about.html">加入我们</a>
                    </li>
                </ul>
                <ul class="navbar-nav flex-row ml-md-auto d-md-flex">
                    <li class="btnli">
                        <a class="btn btn-light " data-toggle="collapse" href="#collapseExample" role="button"
                            aria-expanded="false" aria-controls="collapseExample">
                            <i class="bi bi-search">
                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor"
                                    style="color: #BB1013;" class="bi bi-search" viewBox="0 0 16 16">
                                    <path
                                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                </svg>
                            </i>
                        </a>
                        <!-- <button class="btn btn-light my-2 my-sm-0" type="submit"></button> -->
                    </li>
                </ul>
                <button class="nav-link login d-lg-inline-block mb-3 mb-md-0 ml-lg-3 mt-2" href=""><a
                        href="login.html">登录</a> </button>
                <button class="nav-link resd d-lg-inline-block mb-3 mb-md-0 ml-lg-3 mt-2" href=""><a
                        href="register.html">注册</a></button>

            </div>
        </nav>
        <div class="search" style="display: none;">
            <form action="">
                <div class="input-group d-flex justify-content-center">
                    <input type="text" class="input " placeholder="请输入您想要输入的内容" autocomplete="off">
                    <input class="button--submit" value="搜索内容" type="submit">
                </div>
                <!-- col-lg-11 col-md-11 col-sm-10 -->
            </form>
        </div>
        <!-- 导航栏结束 -->
    </div>
    <!-- 内容开始 -->
    <div class="calligraphy_img_container">
        <!-- 视频背景开始 -->
        <img src="img/course_background.jpg" alt="">

    </div>
    <div id="wrapper">
        <section class="section lb">
            <!-- <div class="tutorial_title">
                <span>书法教程</span>
            </div> -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-custom-build">
                                <div class="blog-box ">
                                    <div class="container">
                                        <ul id="myTab" class="nav nav-tabs">
                                            <li class="dropdown">
                                                <a href="#" id="myTabDrop1" class="dropdown-toggle"
                                                    data-toggle="dropdown">书法类型 <b class="caret"></b>
                                                </a>
                                                <ul id="teach_menu" class="dropdown-menu" role="menu"
                                                    aria-labelledby="myTabDrop1">
                                                    <li><a href="#pen" tabindex="-1" data-toggle="tab">
                                                            钢笔教程</a>
                                                    </li>
                                                    <li><a href="#brush" tabindex="-1" data-toggle="tab">
                                                            毛笔教程</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>

                                        <div class="tab-content"> <!-- 这个类是必须的，否则异常 -->
                                            <div id="pen" class="tab-pane fade in active ">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12">
                                                        <div id="video-carousel1" class="carousel slide"
                                                            data-bs-ride="carousel" data-bs-interval="5000">

                                                            <!-- 钢笔轮播图内容开始 -->
                                                            <div class="carousel-inner">
                                                                <div class="carousel-item active">
                                                                    <video class="d-block w-100 video1"
                                                                        src="videos/video1.mp4" autoplay muted></video>
                                                                    <div class="carousel-caption d-none d-md-block">
                                                                        <h5>Video 1</h5>
                                                                        <p>Description of Video 1</p>
                                                                    </div>
                                                                </div>
                                                                <div class="carousel-item">
                                                                    <video class="d-block w-100 video1"
                                                                        src="videos/video2.mp4" autoplay muted></video>
                                                                    <div class="carousel-caption d-none d-md-block">
                                                                        <h5>Video 2</h5>
                                                                        <p>Description of Video 2</p>
                                                                    </div>
                                                                </div>
                                                                <div class="carousel-item">
                                                                    <video class="d-block w-100 video1"
                                                                        src="videos/video3.mp4" autoplay
                                                                        muted></video>
                                                                    <div class="carousel-caption d-none d-md-block">
                                                                        <h5>Video 3</h5>
                                                                        <p>Description of Video 3</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--钢笔轮播图内容结束-->
                                                            <!-- 可视化的图片导航 -->
                                                            <div class="thumbnail-images">
                                                                <img src="video-thumbnail-1.jpg"
                                                                    class="img-fluid thumbnail-image"
                                                                    data-bs-target="#video-carousel1"
                                                                    data-bs-slide-to="0">
                                                                <img src="video-thumbnail-2.jpg"
                                                                    class="img-fluid thumbnail-image"
                                                                    data-bs-target="#video-carousel1"
                                                                    data-bs-slide-to="1">
                                                                <img src="video-thumbnail-3.jpg"
                                                                    class="img-fluid thumbnail-image"
                                                                    data-bs-target="#video-carousel1"
                                                                    data-bs-slide-to="2">
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <hr>
                                                <!-- 钢笔内容推荐标题开始 -->
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div style="background-color: rgb(247, 247, 247);">
                                                            <span style="font-size: 30px; margin-left: 10px;">为你推荐</span>
                                                            <span class="change2" >
                                                                <button style="border:none; background:transparent;" onclick="changeVideo(1)">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                                                                <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                                                                <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                                                              </svg>
                                                              换一换</button>
                                                            </span>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <!-- 钢笔内容推荐标题结束 -->
                                                <!-- 钢笔正式内容开始 -->
                                                <!-- 内容一开始 -->
                                                <div class="row " style="margin-top: 10px; ">
                                                    <div class="col-lg-6 col-md-6  col-sm-12 col-xs-12">
                                                        <div class="pen_box ">
                                                            <div class="media pen_video_container">
                                                                <video class="fullscreenvideo video2" id="pen_video">
                                                                    <source src="videos/video2.mp4" type="video/mp4">
                                                                </video>
                                                            </div>
                                                            <h6>教程1</h6>
                                                            <p>钢笔是中华民族的优秀传承..</p>
                                                            <!-- <p id="pen_text">nobody yes louloulou</p> -->
                                                        </div>   
                                                    </div>
                                                    <div class="col-lg-6 col-md-6  col-sm-12 col-xs-12">
                                                        <div class="pen_box ">
                                                            <div class="media pen_video_container">
                                                                <video class="fullscreenvideo video2" id="pen_video">
                                                                    <source src="videos/video1.mp4"type="video/mp4">
                                                                </video>
                                                            </div>
                                                            <h6>教程1</h6>
                                                            <p>钢笔是中华民族的优秀传承..</p>
                                                            <!-- <p id="pen_text">nobody yes louloulou</p> -->
                                                        </div>
                                                    </div>
                                                </div><!-- 内容一结束 -->
                                                <hr>
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div style="background-color: rgb(247, 247, 247);">
                                                            <span style="font-size: 30px; margin-left: 10px;">更多</span>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <!-- 内容二开始 -->
                                                <div class="row" style="margin-top: 10px;">
                                                    <div class="col-lg-6 col-md-6  col-sm-12 col-xs-12">
                                                        <div class="card mb-1">
                                                            <div class="card-body" style="text-align: center;">
                                                                <video class="fullscreenvideo1 video2" id="pen_video">
                                                                    <source src="videos/video2.mp4" type="video/mp4">
                                                                </video>
                                                              <span >教程3</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6  col-sm-12 col-xs-12">
                                                        <div class="card mb-1">
                                                            <div class="card-body" style="text-align: center;">
                                                                <video class="fullscreenvideo1 video2" id="pen_video">
                                                                    <source src="videos/video2.mp4" type="video/mp4">
                                                                </video>
                                                              <span>教程3</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- 内容二结束 -->
                                                <!-- 内容三开始 -->
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6  col-sm-12 col-xs-12">
                                                        <div class="card mb-1">
                                                            <div class="card-body" style="text-align: center;">
                                                                <video class="fullscreenvideo1 video2" id="pen_video">
                                                                    <source src="videos/video2.mp4" type="video/mp4">
                                                                </video>
                                                              <span >教程3</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6  col-sm-12 col-xs-12">
                                                        <div class="card mb-1">
                                                            <div class="card-body" style="text-align: center;">
                                                                <video class="fullscreenvideo1 video2" id="pen_video">
                                                                    <source src="videos/video2.mp4" type="video/mp4">
                                                                </video>
                                                              <span>教程3</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- 内容三结束 -->
                                                <!-- 内容四开始 -->
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6  col-sm-12 col-xs-12">
                                                        <div class="card mb-1">
                                                            <div class="card-body" style="text-align: center;">
                                                                <video class="fullscreenvideo1 video2" id="pen_video">
                                                                    <source src="videos/video2.mp4" type="video/mp4">
                                                                </video>
                                                              <span >教程3</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6  col-sm-12 col-xs-12">
                                                        <div class="card mb-1">
                                                            <div class="card-body" style="text-align: center;">
                                                                <video class="fullscreenvideo1 video2" id="pen_video">
                                                                    <source src="videos/video2.mp4" type="video/mp4">
                                                                </video>
                                                              <span>教程3</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- 内容四结束 -->
                                                <!-- 钢笔正式内容推荐结束 -->
                                            </div>
                                            <!-- 钢笔内容结束 -->
                                            <!-- 毛笔内容开始 -->
                                            <div id="brush" class="tab-pane fade in ">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12">
                                                        <div id="video-carousel2" class="carousel slide"
                                                            data-bs-ride="carousel" data-bs-interval="5000">

                                                            <!-- 轮播图内容 -->
                                                            <div class="carousel-inner">
                                                                <div class="carousel-item active">
                                                                    <video class="d-block w-100 video3"
                                                                        src="videos/video1.mp4" autoplay muted></video>
                                                                    <div class="carousel-caption d-none d-md-block">
                                                                        <h5>Video 1</h5>
                                                                        <p>Description of Video 1</p>
                                                                    </div>
                                                                </div>
                                                                <div class="carousel-item">
                                                                    <video class="d-block w-100 video3"
                                                                        src="videos/video2.mp4" autoplay muted></video>
                                                                    <div class="carousel-caption d-none d-md-block">
                                                                        <h5>Video 2</h5>
                                                                        <p>Description of Video 2</p>
                                                                    </div>
                                                                </div>
                                                                <div class="carousel-item">
                                                                    <video class="d-block w-100 video3"
                                                                        src="videos/video3.mp4" autoplay
                                                                        muted></video>
                                                                    <div class="carousel-caption d-none d-md-block">
                                                                        <h5>Video 3</h5>
                                                                        <p>Description of Video 3</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- 可视化的图片导航 -->
                                                            <div class="thumbnail-images">
                                                                <img src="video-thumbnail-1.jpg"
                                                                    class="img-fluid thumbnail-image"
                                                                    data-bs-target="#video-carousel2"
                                                                    data-bs-slide-to="0">
                                                                <img src="video-thumbnail-2.jpg"
                                                                    class="img-fluid thumbnail-image"
                                                                    data-bs-target="#video-carousel2"
                                                                    data-bs-slide-to="1">
                                                                <img src="video-thumbnail-3.jpg"
                                                                    class="img-fluid thumbnail-image"
                                                                    data-bs-target="#video-carousel2"
                                                                    data-bs-slide-to="2">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <!-- 毛笔内容推荐标题开始 -->
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div style="background-color: rgb(247, 247, 247);">
                                                            <span style="font-size: 30px;margin-left: 10px;">为你推荐</span>
                                                            <span class="change2" >
                                                                <button style="border:none; background:transparent;" onclick="changeVideo(2)">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                                                                <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                                                                <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                                                              </svg>
                                                              换一换</button>
                                                            </span>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <!-- 内容推荐标题结束 -->
                                                <!-- 毛笔正式内容开始 -->
                                                <div class="row " style="margin-top: 10px;">
                                                    <div class="col-lg-6 col-md-6  col-sm-12 col-xs-12">
                                                        <div class="brush_box ">
                                                            <div class="media brush_video_container">
                                                                
                                                                <video class="fullscreenvideo video4" id="brush_video">
                                                                    <source src="videos/video5.mp4"type="video/mp4">
                                                                </video>
                                                            </div>
                                                            <h6>教程1</h6>
                                                            <p>毛笔是中华民族的优秀传承..</p>
                                                            <!-- <p id="pen_text">nobody yes louloulou</p> -->
                                                        </div>   
                                                    </div>
                                                    <div class="col-lg-6 col-md-6  col-sm-12 col-xs-12">
                                                        <div class="brush_box ">
                                                            <div class="media brush_video_container">
                                                                <video class="fullscreenvideo video4" id="brush_video">
                                                                    <source src="videos/video6.mp4"type="video/mp4">
                                                                </video>
                                                            </div>
                                                            <h6>教程1</h6>
                                                            <p>毛笔是中华民族的优秀传承..</p>
                                                        </div>
                                                    </div>
                                                </div> <!-- 毛笔正式内容推荐结束 -->
                                                <hr>
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div style="background-color: rgb(247, 247, 247);">
                                                            <span style="font-size: 30px; margin-left: 10px;">更多</span>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <!-- 内容一开始 -->
                                                <div class="row" style="margin-top: 10px;">
                                                    <div class="col-lg-6 col-md-6  col-sm-12 col-xs-12">
                                                        <div class="card mb-1">
                                                            <div class="card-body" style="text-align: center;">
                                                                <video class="fullscreenvideo1 video2" id="pen_video">
                                                                    <source src="videos/video2.mp4" type="video/mp4">
                                                                </video>
                                                              <span >教程3</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6  col-sm-12 col-xs-12">
                                                        <div class="card mb-1">
                                                            <div class="card-body" style="text-align: center;">
                                                                <video class="fullscreenvideo1 video2" id="pen_video">
                                                                    <source src="videos/video2.mp4" type="video/mp4">
                                                                </video>
                                                              <span>教程3</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- 内容一结束 -->
                                                <!-- 内容二开始 -->
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6  col-sm-12 col-xs-12">
                                                        <div class="card mb-1">
                                                            <div class="card-body" style="text-align: center;">
                                                                <video class="fullscreenvideo1 video2" id="pen_video">
                                                                    <source src="videos/video2.mp4" type="video/mp4">
                                                                </video>
                                                              <span >教程3</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6  col-sm-12 col-xs-12">
                                                        <div class="card mb-1">
                                                            <div class="card-body" style="text-align: center;">
                                                                <video class="fullscreenvideo1 video2" id="pen_video">
                                                                    <source src="videos/video2.mp4" type="video/mp4">
                                                                </video>
                                                              <span>教程3</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- 内容二结束 -->
                                            </div><!--毛笔内容结束-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->

                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <div class="sidebar">
                            <div class="widget">
                                <h2  class="widget-title">学书心得<hr style="border: 1px solid #BB1013;"> </h2>
                                <div class="blog-list-widget">
                                    <div class="list-group">
                                        <a href="marketing-single.html"
                                            class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                                <img src="img/xinde1.jpg" alt="" class="img-fluid float-left">
                                                <h5 class="mb-1 " >谈谈怎么学习硬笔书法</h5>
                                                <small>毛文斌</small>
                                            </div>
                                        </a>

                                        <a href="marketing-single.html"
                                            class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                                <img src="img/xinde2.jpg" alt="" class="img-fluid float-left">
                                                <h5 class="mb-1 ">学书杂感 </h5>
                                                <small>荆霄鹏</small>
                                            </div>
                                        </a>

                                        <a href="marketing-single.html"
                                            class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 last-item justify-content-between">
                                                <img src="img/xinde3.jpg" alt="" class="img-fluid float-left">
                                                <h5 class="mb-1 ">谈谈书法艺术的“融会” </h5>
                                                <small>刘旭光</small>
                                            </div>
                                        </a>
                                    </div>
                                </div><!-- end blog-list -->
                            </div><!-- end widget -->





                            <div class="widget">
                                <h2 class="widget-title">书法教程<hr style="border: 1px solid #BB1013;"></h2>
                                <div class="link-widget">
                                    <ul>
                                        <li><a href="#">钢笔书法基本知识（司马彦） </a><span class="badge badge-secondary">钢笔</span></li>
                                        <li><a href="#">怎样写好字（卢中南）</a><span class="badge badge-secondary">钢笔</span> </li>
                                        <li><a href="#">怎样写好钢笔字 </a><span class="badge badge-secondary">钢笔</span> </li>
                                        <li><a href="#">钢笔字的特点 </a><span class="badge badge-secondary">钢笔</span></li>
                                        <li><a href="#">你确定你会临帖吗？</a><span class="badge badge-secondary">毛笔</span></li>
                                        <li><a href="#">繁体、异体、古今字用法表 </a><span class="badge badge-secondary">毛笔</span></li>
                                        <li><a href="#">学写毛笔字手抖怎么办 </a><span class="badge badge-secondary">毛笔</span></li>
                                    </ul>
                                </div><!-- end link-widget -->
                            </div><!-- end widget -->
                        </div><!-- end sidebar -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

    </div><!-- end wrapper -->

</body>
<!-- 引入 Bootstrap JavaScript 文件 -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
<!-- 轮播开始 -->
<!-- <script type="text/javascript">
    // 获取轮播图和缩略图
    var carousel = document.getElementById('video-carousel');
    var thumbnailImages = document.querySelectorAll('.thumbnail-image');
    
    // 添加鼠标悬停事件监听器
    thumbnailImages.forEach(function (thumbnailImage) {
        thumbnailImage.addEventListener('mouseover', function () {
            // 获取要播放的视频和轮播图指示器
            var target = this.getAttribute('data-bs-target');
            var slideTo = this.getAttribute('data-bs-slide-to');
            // 切换到指定的视频
            carousel.querySelector('.active video1').pause();
            carousel.querySelector('.active').classList.remove('active');
            carousel.querySelector(target).classList.add('active');
            carousel.querySelector(target + ' video1').play();

            // 切换轮播图指示器
            carousel.querySelector('.carousel-indicators .active').classList.remove('active');
            carousel.querySelector('.carousel-indicators li:nth-child(' + (parseInt(slideTo) + 1) + ')').classList.add('active');
       
        });
    });
</script> -->

<!-- 轮播结束 -->
<script>
    $(function () {
        $('#myTab li:eq(1) a').tab('show');
    });

</script>
<!-- 展示开始 -->
<!-- 内容一开始 -->
<script type="text/javascript">
    var videos = document.querySelectorAll('.video1,.video2,.video3,.video4');
   
    videos.forEach(function (video) {
        video.addEventListener('mouseover', function () {
            videos.forEach(function (otherVideo) {
                if (otherVideo !== video) {
                    otherVideo.pause();
                }
            });
            video.play();
        });
        video.addEventListener('mouseout', function () {
            video.pause();
        });
        // 点击视频进入全屏
        video.addEventListener('click', function () {
            if (video.webkitRequestFullscreen) {
                video.webkitRequestFullscreen();
            } else if (video.mozRequestFullScreen) {
                video.mozRequestFullScreen();
            } else if (video.requestFullscreen) {
                video.requestFullscreen();
            }
        });

        video.addEventListener('webkitfullscreenchange', function () {
            if (document.webkitFullscreenElement) {
                // 进入全屏时显示控件
                video.controls = true;
            } else {
                // 退出全屏时隐藏控件
                video.controls = false;
            }

        })
    });
    //换一换按钮
    var videoIds = [
           [ 'video1','video2','video3','video4'],
           [ 'video5','video6','video7','video8']
        ];
        var currentVideo1 = 0;
        var currentVideo2 = 0;
        function changeVideo(videoId) {
            var currentVideo = videoId == 1 ? currentVideo1++ : currentVideo2++;

            if (currentVideo == videoIds[videoId-1].length/2) {
                currentVideo1 = 0;
            }
            // 钢笔
            $('.video2').eq(0).attr('src', 'videos/' + videoIds[videoId-1][currentVideo1 * 2]+'.mp4');
            $('.video2').eq(1).attr('src', 'videos/' + videoIds[videoId-1][currentVideo1 * 2 + 1]+'.mp4');
             //毛笔
            $('.video4').eq(0).attr('src', 'videos/' + videoIds[videoId-1][currentVideo1 * 2]+'.mp4');
            $('.video4').eq(1).attr('src', 'videos/' + videoIds[videoId-1][currentVideo1 * 2 + 1]+'.mp4');
                
        }
</script>
<!-- 内容一结束 -->
<!-- 内容二开始 -->
<script>
    // 获取所有的 iframe 元素
const iframes = document.querySelectorAll('.embed-responsive-item');
// 遍历所有 iframe 元素，添加事件监听
iframes.forEach(iframe => {
  // 获取 iframe 内部的视频元素
  const video = iframe.contentDocument.querySelector('video');
  // 判断是否成功获取视频元素
  if (video) {
    // 点击事件
    video.addEventListener('click', () => {
      // 判断是否全屏状态
      if (video.webkitDisplayingFullscreen) {
        // 退出全屏时，隐藏控件
        video.controls = false;
      } else {
        // 点击视频时，进入全屏播放
        video.webkitRequestFullscreen();
      }
    });
    // 移入事件
    video.addEventListener('mouseenter', () => {
      // 鼠标移入时，显示控件
      video.controls = true;
    });
    // 移出事件
    video.addEventListener('mouseleave', () => {
      // 鼠标移出时，隐藏控件
      video.controls = false;
    });
    // 全屏改变事件
    video.addEventListener('webkitfullscreenchange', () => {
      // 判断是否全屏状态
      if (video.webkitDisplayingFullscreen) {
        // 进入全屏时，显示控件
        video.controls = true;
      } else {
        // 退出全屏时，隐藏控件
        video.controls = false;
      }
    });
  }
});
</script>


<!-- 内容二结束 -->
</html>